@model IEnumerable<APPR6312_POE.Models.PurchasedGoods>

@{
    ViewData["Title"] = "Index";
}
<style>
     table {
    }

    th {
        color: white;
        background: rgba( 23, 3, 43, 0.45 ) !important;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    td {
        color: white;
        background: rgba( 23, 3, 43, 0.45 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }



    h1 {
        color: white;
    }
</style>

<center>
    <br />
<h1>Purchased Goods</h1>
<p float:right>
       
            <a asp-action="Create" value="" class="btn btn-primary">Purchase an item</a>
    </p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                <center>
                @Html.DisplayNameFor(model => model.date)
                </center>
            </th>
            
            <th>
                <center>
                @Html.DisplayNameFor(model => model.category)
                </center>
            </th>
            <th>
                <center>
                @Html.DisplayNameFor(model => model.price)
                </center>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.date)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.category)
                </center>
            </td>
            <td>
                <center>
                @Html.DisplayFor(modelItem => item.price)
                </center>
            </td>            
        </tr>
}
    </tbody>
</table>
</center>