@model APPR6312_POE.Models.Disasters

@{
    ViewData["Title"] = "Details";
}
<br />

<h1>Disaster Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aid)
        </dd>
    </dl>
</div>
<form asp-action="Index">
    <div class="form-group">
                <input type="submit" asp-action="Index" value="Back" class="btn btn-primary" />
            </div>
        </form> 
