@model APPR6312_POE.Models.Disasters

@{
    ViewData["Title"] = "Edit";
    var categories = (List<string>)ViewData["Categories"];
}

<style>
    option { 
    /* Whatever color  you want */
    color: black;
    }

    #div_form {
        margin: auto;
    }

    #div_button {
        float: right;
    }
}
</style>
@if (ViewBag.Error != null)
{
    <script type="text/javascript">
        window.onload = function() {
            alert("@ViewBag.Error");
        };
    </script>
}
<center>
<h1>Edit</h1>

<h4>Disasters</h4>
<hr />
<div class="row">
    <div id="div_form" class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="disasterID" />
            <div class="form-group">
                <label asp-for="Start_Date" class="control-label"></label>
                <input asp-for="Start_Date" class="form-control" />
                <span asp-validation-for="Start_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End_Date" class="control-label"></label>
                <input asp-for="End_Date" class="form-control" />
                <span asp-validation-for="End_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aid" class="control-label"></label>
                <input asp-for="aid" class="form-control" />
                <span asp-validation-for="aid" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="allocatedMoney" class="control-label"></label>
                <input asp-for="allocatedMoney" class="form-control" />
                <span asp-validation-for="allocatedMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="category" class="control-label">Select a category</label>
            <select asp-for="category" class="form-control" list="categories" />
            <datalist id="categories">
                            @foreach (var item in categories)
                            {
                                <option value="@item">@item</option>
                            }
                        </datalist>
                        <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
      <label asp-for="category" for="exampleSelect2" class="form-label mt-4">Example multiple select</label>
      <select asp-for="category" multiple="" class="form-select" id="exampleSelect2">
          <datalist id="categories">
                            @foreach (var item in categories)
                            {
                                
                                <option value="@item">@item</option>
                            }
                            
                        </datalist>  
      </select>
    </div>
            
            
              
            
             
            <div class="form-group">
                <label asp-for="numItems" class="control-label">Number of items being allocated</label>
                <input asp-for="numItems" class="form-control" />
                <span asp-validation-for="numItems" class="text-danger"></span>
            </div> 

            <br />
            <center>
            <div class="form-group">
                <input type="submit" asp-action="Index" value="Back" class="btn btn-primary" />
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
            </center>
        </form>
    </div>
</div>
</center>


