@model IEnumerable<APPR6312_POE.Models.Disasters>
@{
    ViewData["Title"] = "Public";
}
<br />
<center>
    <h4>Total amount donated: R @ViewBag.MonetaryTotal</h4>
    <h4>Total number of goods recieved: @ViewBag.TotalGoods</h4>

    <br />
    <h1>Current active disasters with allocated money and goods</h1>
    <br />
    
 
</center>
<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Start_Date)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.End_Date)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Location)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Description)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.aid)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.allocatedMoney)
                </center>
            </th>
            <th>
                <center>
                    Allocated Goods
                </center>
            </th>
       

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
              
            <tr>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Start_Date)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.End_Date)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Location)
                    </center>
                </td>
                <td>
                    <center>
                        @if(item.Description.Length < 20)
                        {
                            <label>
                                @item.Description
                            </label>
                           
                        }
                        else
                        {
                            <label>
                                @item.Description.Substring(0,16)
                                ...
                            </label>
                        }

                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.aid)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.allocatedMoney)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.category)
                    </center>
                </td>             
            </tr>
        }
    </tbody>
</table>

