@model IEnumerable<APPR6312_POE.Models.Disasters>
@{
    ViewData["Title"] = "Public";
}
<br />
<center>
    <h2> Total Amounts Received</h2>
    <br />
    <div class="card border-secondary mb-3" style="max-width: 20rem; max-height: 20rem; margin-top: 0%; margin-right: 35%">
        <div class="card-header">Total Amount of Money Donated:</div>
        <div class="card-body">
            <h4 class="card-title">R @ViewBag.MonetaryTotal</h4>
        </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 20rem; max-height: 20rem; margin-left: 40%; margin-top: -14.1%;">
        <div class="card-header">Total number of goods recieved:</div>
        <div class="card-body">
            <h4 class="card-title">@ViewBag.TotalGoods</h4>
        </div>
    </div>

    <br />
    <h2>Current active disasters with allocated money and goods</h2>
    <br />

    @*<table class="table table-hover">
        <thead>
        <tr class="table-active">
        <th>
        <center>
        Total Amount of Money Donated
        </center>
        </th>
        <th>
        <center>
        Total Number of Goods Received
        </center>
        </th>
        </tr>
        <tr>
        <td>
        <center>
        @ViewBag.MonetaryTotal
        </center>
        </td>
        <td>
        <center>
        @ViewBag.TotalGoods
        </center>
        </td>
        </tr>

        </tbody>
        </table>*@



</center>
<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Start_Date)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.End_Date)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Location)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Description)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.aid)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.allocatedMoney)
                </center>
            </th>
            <th>
                <center>
                    Allocated Goods
                </center>
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Start_Date)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.End_Date)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Location)
                    </center>
                </td>
                <td>
                    <center>
                        @if (item.Description.Length < 20)
                        {
                            <label>
                                @item.Description
                            </label>

                        }
                        else
                        {
                            <label>
                                @item.Description.Substring(0,16)
                                ...
                            </label>
                        }

                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.aid)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.allocatedMoney)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.category)
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>

