@model IEnumerable<APPR6312_POE.Models.MonetaryDonations>

@{
    ViewData["Title"] = "Index";

    //decimal total;
    //var sum = Decimal.Parse(ViewBag.Sum);
    //var varMone = Decimal.Parse(ViewBag.MonetarySum);

    //if(sum != null || varMone != null)
    //{
    //    total = sum - varMone;
    //}
}
<style>

    table {
    }

    th {
        color: white;
        background: rgba( 23, 3, 43, 0.45 ) !important;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    td {
        color: white;
        background: rgba( 23, 3, 43, 0.45 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }



    h1 {
        color: white;
    }

</style>
<center>
    <br />
    <h1>Monetary Donations</h1>
    <h4>Total amount donated: R @ViewBag.MonetaryTotal</h4>
    <h4>Total amount remaining: R @ViewBag.MonetarySum</h4>

    <p float:right>
        <form asp-action="Create">
            <button type="submit" asp-action="Create" value="" class="btn btn-primary">Make a Donation</button>
        </form>
    </p>
</center>
<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.date)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.amount)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.name)
                </center>
            </th>
            <th>
                <center>
                View Details
                </center>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.date)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.amount)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.name)
                    </center>
                </td>
                <td>
                    <center>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.monetaryID">Details</a>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>
