@model IEnumerable<APPR6312_POE.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}
<style>
    table {
    }

    th {
        color: white;
        background: rgba( 23, 3, 43, 0.45 ) !important;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    td {
        color: white;
        background: rgba( 23, 3, 43, 0.45 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    h1 {
        color: white;
    }
</style>
<center>
    <br />
    <h1>Goods Inventory</h1>
    <h2> Current available items</h2>
</center>
<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Idate)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.InumItems)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Icategory)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Idescription)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Iname)
                </center>
            </th>       
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var numitems = item.InumItems;
            List<Disasters> disas = ViewBag.ItemCount;
              
            <tr>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Idate)
                    </center>
                </td>
                <td>
                    <center>
                        @foreach(var d in disas)
                        {
                            @if(item.Icategory.Equals(d.category))
                            {
                                numitems= item.InumItems - d.numItems;
                                break;
                            }
                        }  
                        <label>
                            @numitems
                        </label>
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Icategory)
                    </center>
                </td>
                <td>
                    <center>
                    @if(item.Idescription.Length < 20)
                        {
                            <label>
                                @item.Idescription
                            </label>
                           
                        }
                        else
                        {
                            <label>
                                @item.Idescription.Substring(0,16)
                                ...
                            </label>
                        }
                        </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Iname)
                    </center>
                </td>               
            </tr>; }
    </tbody>
</table>

